<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="msapplication-TileColor" content="#ffda00">
	<meta name="theme-color" content="#ffffff">
	<title>Restooo</title>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet"> 
	<link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
	<link rel="mask-icon" href="./safari-pinned-tab.svg" color="#5bbad5">
</head>

<body>
	<a href="#maincontent" class="skip-link">Menuju ke konten</a>
	
	<!-- nav -->
	<nav class="nav">
		<div class="nav-container">
			<img src="./images/logo.png" alt="logo restooo" width="130">
			<ul class="nav-ul">
				<li class="nav-link active"><a href="#">Home</a></li>
				<li class="nav-link"><a href="#">Favorite</a></li>
				<li class="nav-link"><a href="https://github.com/abdulmalikk" target="_blank" rel="noreferrer noopener">About us</a></li>
			</ul>
			<a href="#" id="drawertoggler" class="drawer-toggler">☰</a>
		</div>
		<!-- mobile -->
		<div class="drawer-overlay"></div>
		<ul class="drawer">
			<li class="drawer-link active"><a href="#">Home</a></li>
			<li class="drawer-link"><a href="#">Favorite</a></li>
			<li class="drawer-link"><a href="https://github.com/abdulmalikk" target="_blank" rel="noreferrer noopener">About us</a></li>
		</ul>
	</nav>
	<!-- akhir nav -->

	<!-- jumbotron -->
	<div class="jumbotron" role="img" aria-label="hero image">
		<div class="jumbotron-inner">
			<h1 class="jumbotron-title">Anda lapar?</h1>
			<p class="jumbotron-tagline">
				<span class="font-semibold">Restooo</span> menyediakan pilihan restoran terbaik untuk dikunjungi.<br/>
				Saatnya hilangkan lapar anda sekarang!
			</p>
			<a href="#maincontent" class="btn-cta">Lihat restoran</a>
		</div>
	</div>
	<!-- akhir jumbotron -->

	<main id="maincontent">
		<h1 class="list-resto-title">Daftar Restoran</h1>
		<section class="list-resto-items"></section>
	</main>

	<footer>
		<p>copyright &copy; 2020 - Restooo</p>
	</footer>
</body>

</html>
