<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
	<title>Restaurant Apps Starter Project</title>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> 
	<link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
	<link rel="mask-icon" href="./safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#ffda00">
	<meta name="theme-color" content="#ffffff">
</head>

<body>
	<!-- nav -->
	<nav class="nav">
		<img src="./images/logo.png" alt="logo restooo" width="130">
		<ul class="nav-ul">
			<li class="nav-link"><a class="active" href="#">Home</a></li>
			<li class="nav-link"><a class="" href="#">Favorite</a></li>
			<li class="nav-link"><a class="" href="https://github.com/abdulmalikk" target="_blank" rel="noreferrer noopener">About us</a></li>
		</ul>
	</nav>
	<!-- akhir nav -->

	<!-- jumbotron -->
	<div class="jumbotron">
		<h1 class="jumbotron-title">Anda lapar?</h1>
		<p class="jumbotron-text">
			<span class="font-semibold">Restooo</span> menyediakan pilihan restoran terbaik untuk dikunjungi.<br/>
			Saatnya hilangkan lapar anda sekarang!
		</p>
		<a href="#mainContent" class="btn-cta">Lihat restoran</a>
	</div>
	<!-- akhir jumbotron -->

	<main id="mainContent">
		<h1 class="list-resto-title">Daftar Restoran</h1>
		<div class="list-resto-items">
			<div class="card">
				<img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/04" alt="restoran" width="100%">
				<div class="card-body">
					<h1 class="card-rating">Rating: 4.8</h1>
					<h1 class="card-title">Ampiran kota</h1>
					<p class="card-desc">Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus ullamcorper ultricies...</p>
				</div>
			</div>
			<div class="card">
				<img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/04" alt="restoran" width="100%">
				<div class="card-body">
					<h1 class="card-rating">Rating: 4.8</h1>
					<h1 class="card-title">Ampiran kota</h1>
					<p class="card-desc">Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus ullamcorper ultricies...</p>
				</div>
			</div>
			<div class="card">
				<img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/04" alt="restoran" width="100%">
				<div class="card-body">
					<h1 class="card-rating">Rating: 4.8</h1>
					<h1 class="card-title">Ampiran kota</h1>
					<p class="card-desc">Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus ullamcorper ultricies...</p>
				</div>
			</div>
		</div>
	</main>
</body>

</html>
