@media screen and (max-width: 600px) {
  .nav-ul {
    display: none;
  }

  .open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .nav-link {
    display: list-item;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    text-align: left;
  }
}

@media screen and (min-width: 600px) {
  .drawer-toggler {
    display: none;
  }
}
